body{
    background-color: rgb(164, 98, 98);
    margin: 5px;
}
.header{
    width: auto;
    height: 150px;
    background-color: aquamarine;
    border: 2px solid cornflowerblue;
    border-radius: 50%;
}
.one{
    width: auto;
    height: 20px;
    background-color: aqua;
}
.block{
    width: 250px;
    height: 100px;
    border: 5px solid;
    color: rgb(217, 94, 106);
    background-color: rgb(203, 191, 119);
    margin-bottom: 40px;
}

